/* ALl CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ALl CSS Reset */


/* LightBox Start */

#lightBox{
    padding: 100px 0px;
    background: #fdf0d5;
    color: #c1121f;
}
#lightBox h2{
  text-align: center;
  color: black
}
#lightBox p{
  text-align: center;
  color: black
}
/* LightBox End */


/* VenoBox Start */
#Venobox{
  padding: 100px 0px;
  background: #669bbc;

}
#Venobox h2{
  text-align: center;
  color: white

}
#Venobox p{
  text-align: center;
  color: white

}
/* VenoBox End */

