/* ALl CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background: #fdf0d5;
}
/* ALl CSS Reset */


/* BannerPart Start */

#banner_part{
    padding: 150px;
    color: #c1121f;
}
/* BannerPart End */