/* ALl CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ALl CSS Reset */


/* LightBox Start */

#lightBox{
    padding: 150px;
    background: #fdf0d5;
    color: #c1121f;
}
/* LightBox End */


/* VenoBox Start */
#Venobox{
  background: #fff;
}
/* VenoBox End */

